div.collapsible header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.collapsible + div.collapsible {
  border-top: 1px solid #ccc;
}

div.collapsible header > span {
  display: flex;
  align-items: center;
}

div.collapsible header > span .ok {
  margin-left: 0.5rem;
  color: green;
}
