.profile-preview {
  color: white;
  text-align: center;
  margin-top: 2rem;
}

.profile-preview h1 {
  line-height: 100%;
  margin-bottom: 1rem;
  color: rgb(243, 247, 184);
}

.profile-preview h1 small {
  font-size: 50%;
}

.profile-preview h1 small::before {
  content: "( ";
  opacity: 0.5;
}

.profile-preview h1 small::after {
  content: " )";
  opacity: 0.5;
}

.profile-preview .lucide {
  width: 150px;
  height: 150px;
}

.profile-preview .photo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.profile-preview .photo img {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  border-radius: 100%;
  border: 5px solid rgb(243, 247, 184);
}

.profile-preview dl.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-preview dl.links a {
  color: white;
}

.profile-preview dl.links dt {
  padding-right: 0.5rem;
  display: flex;
  justify-content: end;
}

.profile-preview dl.links dd {
  text-align: left;
  padding-left: 0.5rem;
}

.profile-preview dl.links svg {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}
